Repository katsmamina/architecture-quiz-group2, pull requests merged in 2021-09, with the labels that each got.

#12 1 welcome
  client/assets/LogoJSQ.png
  client/assets/README.md
  client/assets/android-chrome-192x192.png
  client/assets/android-chrome-256x256.png
  client/assets/apple-touch-icon.png
  client/assets/browserconfig.xml
  client/assets/favicon-16x16.png
  client/assets/favicon-32x32.png
  client/assets/favicon.ico
  client/assets/mstile-150x150.png
  client/assets/safari-pinned-tab.svg
  client/assets/site.webmanifest
  client/src/data-access/README.md
  client/src/data-access/dependency-graph.svg
  client/styles/index.css
  index.html
Labels: html, CSS, interface, start

#11 wireframe updated
  planning/assets-planning/FinalScreen.jpg
  planning/assets-planning/ModalPopUpStart.jpg
  planning/assets-planning/screenStartChanged.jpg
  planning/wireframe.md
Labels: planning

#15 1 welcome
  client/styles/index.css
  index.html
  planning/development-strategy.md
Labels: html, CSS, interface, start

#32 2-quiz-interface
  client/styles/index.css
  index.html
Labels: html, CSS, interface, quiz

#35 display first question and answers
  client/src/business-logic/get-answer.js
  client/src/business-logic/get-question.js
  client/src/presentation/handlers/display.js
  client/src/presentation/init/index.js
  client/src/presentation/listeners/start.js
Labels: listener, handler, interaction, quiz

#36 3 select business logic
  client/src/business-logic/get-answer.js
  client/src/business-logic/is-correct.js
Labels: business logic, select

#42 replace findAll.js with find.js
  client/src/business-logic/get-answer.js
  client/src/business-logic/get-question.js
Labels: business logic, data access

#41 select interaction files are added
  client/src/presentation/handlers/select-handler.js
  client/src/presentation/init/index.js
  client/src/presentation/listeners/select-listener.js
  client/styles/index.css
  package-lock.json
Labels: listener, handler, interaction, select

#38 tried to fix bug with logo
  client/assets/LogoJSQ.png
  client/styles/index.css
  index.html
Labels: bug, interface
